{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>archiveAthens</title>
</head>
<body style="background-image: url('{% static 'img/wall.png' %}');  background-size: 100%;">
  <div style="height: 100%; text-align: center;"> 
    <nav class="navbar navbar-expand-lg navbar-light " style="width: 80%; display: inline-block; background:white;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/favorites">myFavorites <img style="width: 20px; height:auto;" src="\static\archive_app\img\fav_icon.png"></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/uploads/{{user.id}}">myUploads <img style="width: 20px; height:auto;" src="\static\archive_app\img\upload_icon.png"></a>
          </li>
        </ul>
        <p class="my-2 my-lg-0" style="margin-right: 20px;">{{ user.first_name }}'s Favorites</p>
        <form action="/logout" method="POST" class="form-inline my-2 my-lg-0">
          {% csrf_token %}
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
        </form>
      </div>
    </nav>

    <h1 class="display-4"><b style="color: #c21411;">archive</b>Athens</h1> <br>
<div style="text-align: center; margin-top: 50px; display:inline-block; width: 100%; padding: 0 10% 0 10%;">

    {% if myfavs %}
    {% for data in myfavs %}
    
        <div style="text-align: center; margin: 20px 20px 20px 20px; width: 300px; text-decoration: none; height: auto; background-color: #f1f3f4; display: inline-block;  box-shadow: 0 3px 5px rgba(0,0,0,0.3); margin-bottom: 50px; border-radius: 5px;">
                <h5 style="margin:4px 0 4px; padding: 4px 7px;">{{data.title}}</h5>
                <img style="width:96%;" src="{{data.img.url}}" alt=""><br>
                <audio style="padding-top: 0px;" controls>
                        <source src="{{data.audio.url}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio> 
                        <p style="margin-top: 0px; display: inline-block;"><a href="/uploads/{{data.user.id}}">{{data.user.first_name}} {{data.user.last_name}}</a> | {{data.created_at|date:"M d, Y"}}</p> {% if logged == 1 %} <br><a id="favorite" href="/favorited/{{data.id}}"><img style="width: 25px; height:auto; margin-bottom: 16px;" src="\static\archive_app\img\fav_icon.png"></a>
                        
                        
                        {% if data.favorited_users.all.count > 0 %}
                        <p style="color: green; display: inline-block;"> {{data.favorited_users.all.count}}</p>
                        {% endif %}
                        {% endif %}
                        <br>
                <!-- <a href="/unlike/{{data.id}}"><button class="btn btn-secondary">Unlike</button></a> -->
                <a href="/unlike/{{data.id}}" style="color: green; background-color: rgba(128, 128, 128, 0.432); border-radius: 8px; padding: 1px 5px;"> Unlike </a>
                
        </div>
    {% endfor %}
    {% endif %}

</div>
   </div>
   

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
